.bonus-card {
    display: flex;
    flex-direction: row;
    border-radius: 8px ;
    border: 2px solid rgb(248, 241, 242);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: rgba(241, 250, 209, 0.686);
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    box-sizing: border-box;
}

.image-left {
    width: 100px;
    height: auto;
    object-fit: contain;
    flex-shrink: 0;
    transform: translateY(-90px) translateX(200px);
}
.content {
    flex: 1;
    text-align: center;
}

.bonus-card h1 {
  margin: 0 0 12px 0;
  padding-top: 15px;
  align-self: center;
  color: #76bcee;
}
.log-in {
    font-size: 1.8em;
    align-self: center;
}
.login-button {
    width: 250px;
    height: 70px;
    background-color: rgba(97, 136, 227, 0.871);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    font-style: italic;
    font-size: 16px;
    align-self: center;
    color: white;
}
.cashback{
    font-size: 1.4em;
    font-weight: bolder;
    padding-bottom: 20px;
    align-self: center;

}
.image-right {
    width: 120px;
    height: auto;
    object-fit: contain;
    flex-shrink: 0;
    transform: translateY(-10px) translateX(-120px);
}

